
header {
    display: flex;
    color: white;
    padding: 25px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #23232e;
    height: 8vh;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

.logo {
    flex: 0 0 auto;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
}

.navigation {
    flex: 1;
    margin-left: 20px;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.navigation li {
    display: inline;
}

.navigation a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.navigation a:hover {
    background-color: #848484; /* Cor de fundo ao passar o mouse */
    color: white;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, #234467bd 100%);
}

.container {
    display: flex; /* Usar flexbox para alinhar itens */
    align-items: center; /* Alinha verticalmente ao centro */
    margin: 20px; /* Margem para a div */
    border-radius: 10px; /* Bordas arredondadas */
    background-color: #cacccf; /* Cor de fundo da div */
    padding: 15px; /* Espaçamento interno da div */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra da div */
}
.container1 {
    background-color: #cacccf;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    margin: 20px;
}
.qa-image {
    width: 250px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    margin-right: 20px; 
    border-radius: 10px;/* Espaçamento entre a imagem e o texto */
}

.welcome-text {
    font-size: 55px; /* Ajuste o tamanho da fonte conforme necessário */
    color: #333333d4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    text-align: center;
    color: #333333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    border: none;
    background-color: #999999;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #202749;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #cccccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f8f8f8;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.message {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 4px;
}

.message.success {
    background-color: #d4edda;
    color: #155724;
}

.message.error {
    background-color: #f8d7da;
    color: #721c24;
}


